.page-wrapper {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  border-radius: 15px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1700px; 
  margin: 0 auto; 
}

.container {
  width: 100%;
  max-width: 100px; 
}

.add-speaker-section {
  text-align: left;
  margin-top: 50px;
  margin-left: 100px; 
}

.add-speaker-section p {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.add-speaker-btn {
  background-color: #e48360;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.add-speaker-btn:hover {
  background-color: #d6724d;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .page-wrapper {
    padding: 10px;
    border-radius: 10px; 
    box-shadow: none; 
  }

  .container {
    max-width: 100%; 
  }

  .add-speaker-section {
    margin-left: 0; 
    margin-top: 20px;
    text-align: center; 
  }

  .add-speaker-btn {
    padding: 8px 16px;
    font-size: 16px; 
    border-radius: 10px; 
  }
}
