.speaker-list {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.speaker-info {
  display: flex;
  align-items: center;
}

.speaker-details h4 {
  margin: 0;
}

.speaker-details p {
  margin-top: 10px;
}
.separator {
  margin: 0 30px; 
}

.profile-icon {
  color: #b7b2b2; 
  margin-right: 15px;
  margin-bottom: 50px;
}

.edit-btn {
  background: none;
  border: none;
  color: #ed612e;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.edit-btn svg {
  margin-right: 10px;
  
}


.select-speaker {
  width: 15px;
  height: 15px;
}
